.logo{
    height: auto;
    width: auto;
    padding: 10px;
    font-family: 'Monoton';
    color: white;
    background-color:  #ffa64d ;
}
.background{
    height: 200px;
    width: auto;
    background-image: url(../images/pizzabg3.jpg);
}