.logo{
    height: auto;
    width: auto;
    padding: 5px;
    padding-left: 50px;
    color: white;
    background-color:  #ffa64d ;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}
.logo h1{
    font-family: 'Monoton';
}
.background{
    height: 250px;
    width: auto;
    background-image: url(../images/pizzabg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.moto{
    height: auto;
    width: auto;
    padding:10px;
    padding-left: 50px;
    font-weight: bold;
    background-color:  #f2f2f2 ;
}
#m1{
    font-family: 'Anton';
}
#m2{
    font-family: 'Fredoka One';
}
.selection_form{
    height: auto;
    width: auto;
    margin: 5%;
    border :1px solid  #666666; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    padding-bottom: 100px;
}
.selection_form h3{
    font-family: 'Anton';
}
.selection_form h4{
    font-family: 'Fredoka One';
}
input[type=radio],input[type=checkbox]{
    transform:scale(1.5);
}
.form-check-inline{
    padding: 20px;
    padding-left: 50px;
}
.price_show{
    height: auto;
    width: auto;
    padding: 5px;
    text-align: center;
    float: right;
}
.contact_us{
    height: auto;
    width: auto;
    background-color:  #ffa64d ;
    text-align: center;
    color: white;
    padding: 30px;
}
